.contact-heading {
  text-align: center;
  padding: 20px;
  color: #000080;
}
#contact-box {
  padding: 15px;
}
#contact-info-box {
  padding-left: 20px;
}
#heading-contact-info {
  color: #000080;
}
#map-box {
  padding: 5px;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border: solid 1px lightgrey;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
